{% load static %}
<style type="text/css">
  #header{
    z-index: 10000;
  }
</style>
<header id="header" class="header-scrolled">
    <div class="container-fluid">

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="nav-item"><a href="{% url 'home' %}">Beranda</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'profile' %}">Profil</a>
          </li>
          <li class="nav-item"><a href="{% url 'logout' %}">Keluar</a>
          </li>
          {% else %}
          <li class="nav-item"><a href="{% url 'login' %}">Masuk</a>
          </li>
          <li class="nav-item"><a href="{% url 'register' %}">Daftar</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header><!-- #header -->